@import '../values/colours.css';

.bar {
  composes: bar from '../shared/bar.css';
  background-color: var(--color-renown-dark);
}
.progress {
  composes: barProgress from '../shared/bar.css';
  background-color: var(--color-renown);
}
