@import '../values/colours.css';
@value mq-mobile, mq-xs, mq-sm, mq-sm-min, mq-md, mq-md-min, mq-lg from "../values/mediaQueries.css";

:global .borderRight {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--color-border);
}

@media mq-sm-min {
  :global .borderRight\@sm-min {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: var(--color-border);
  }
}

:global .borderRight--none {
  border-right-width: 0;
}

@media mq-mobile {
  :global .borderRight--none\@mobile {
    border-right-width: 0;
  }
}

@media mq-xs {
  :global .borderRight--none\@xs {
    border-right-width: 0;
  }
}

@media mq-sm {
  :global .borderRight--none\@sm {
    border-right-width: 0;
  }
}

@media mq-sm-min {
  :global .borderRight--none\@sm-min {
    border-right-width: 0;
  }
}

@media mq-md {
  :global .borderRight--none\@md {
    border-right-width: 0;
  }
}

@media mq-md-min {
  :global .borderRight--none\@md-min {
    border-right-width: 0;
  }
}

@media mq-lg {
  :global .borderRight--none\@lg {
    border-right-width: 0;
  }
}
