@value mq-mobile, mq-xs, mq-sm, mq-sm-min, mq-md, mq-md-min, mq-lg from "../values/mediaQueries.css";

.hidden {
  display: none !important;
}

@media screen and (max-width: 480px) {
  .hidden\@mobile {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hidden\@xs {
    display: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 767px) {
  .hidden\@sm {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .hidden\@sm-min {
    display: none !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .hidden\@md {
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
  .hidden\@md-min {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .hidden\@lg {
    display: none !important;
  }
}
