@value mq-mobile, mq-xs, mq-sm, mq-sm-min, mq-md, mq-md-min, mq-lg from "../values/mediaQueries.css";

:global .hidden {
  display: none !important;
}

@media mq-mobile {
  :global .hidden\@mobile {
    display: none !important;
  }
}

@media mq-xs {
  :global .hidden\@xs {
    display: none !important;
  }
}

@media mq-sm {
  :global .hidden\@sm {
    display: none !important;
  }
}

@media mq-sm-min {
  :global .hidden\@sm-min {
    display: none !important;
  }
}

@media mq-md {
  :global .hidden\@md {
    display: none !important;
  }
}

@media mq-md-min {
  :global .hidden\@md-min {
    display: none !important;
  }
}

@media mq-lg {
  :global .hidden\@lg {
    display: none !important;
  }
}
