@import '../values/spacing.css';

.marginBottom {
  margin-bottom: var(--spacing);
}

.marginBottom--extra-small {
  margin-bottom: var(--spacing-extra-small);
}

.marginBottom--small {
  margin-bottom: var(--spacing-small);
}

.marginBottom--medium {
  margin-bottom: var(--spacing-medium);
}

.marginBottom--large {
  margin-bottom: var(--spacing-large);
}

.marginBottom--extra-large {
  margin-bottom: var(--spacing-extra-large);
}

.marginBottom--none {
  margin-bottom: 0;
}

@media screen and (width < 480px) {
  .marginBottom--none\@mobile {
    margin-bottom: 0;
  }
}

@media screen and (width < 768px) {
  .marginBottom--none\@xs {
    margin-bottom: 0;
  }
}

@media screen and (768px <= width < 992px) {
  .marginBottom--none\@sm {
    margin-bottom: 0;
  }
}

@media screen and (width >= 768px) {
  .marginBottom--none\@sm-min {
    margin-bottom: 0;
  }
}

@media screen and (992px <= width < 1200px) {
  .marginBottom--none\@md {
    margin-bottom: 0;
  }
}

@media screen and (width >= 992px) {
  .marginBottom--none\@md-min {
    margin-bottom: 0;
  }
}

@media screen and (width >= 1200px) {
  .marginBottom--none\@lg {
    margin-bottom: 0;
  }
}
