@import '../values/spacing.css';
@value mq-mobile, mq-xs, mq-sm, mq-sm-min, mq-md, mq-md-min, mq-lg from "../values/mediaQueries.css";

:global {
  .marginLeft {
    margin-left: var(--spacing);
    &--extra-small {
      margin-left: var(--spacing-extra-small);
    }
    &--small {
      margin-left: var(--spacing-small);
    }
    &--medium {
      margin-left: var(--spacing-medium);
    }
    &--large {
      margin-left: var(--spacing-large);
    }
    &--extra-large {
      margin-left: var(--spacing-extra-large);
    }
    &\@mobile {
      @media mq-mobile {
        margin-left: var(--spacing);
      }
    }
    &\@sm-min {
      @media mq-sm-min {
        margin-left: var(--spacing);
      }
    }
    &\@md-min {
      @media mq-md-min {
        margin-left: var(--spacing);
      }
    }
    &--none {
      margin-left: 0;
      &\@mobile {
        @media mq-mobile {
          margin-left: 0;
        }
      }
      &\@xs {
        @media mq-xs {
          margin-left: 0;
        }
      }
      &\@sm {
        @media mq-sm {
          margin-left: 0;
        }
      }
      &\@sm-min {
        @media mq-sm-min {
          margin-left: 0;
        }
      }
      &\@md {
        @media mq-md {
          margin-left: 0;
        }
      }
      &\@md-min {
        @media mq-md-min {
          margin-left: 0;
        }
      }
      &\@lg {
        @media mq-lg {
          margin-left: 0;
        }
      }
    }
  }
}
