@import '../values/spacing.css';
@value mq-mobile, mq-xs, mq-sm, mq-sm-min, mq-md, mq-md-min, mq-lg from "../values/mediaQueries.css";

.paddingTop {
  padding-top: var(--spacing);
}

.paddingTop--extra-small {
  padding-top: var(--spacing-extra-small);
}

.paddingTop--small {
  padding-top: var(--spacing-small);
}

.paddingTop--medium {
  padding-top: var(--spacing-medium);
}

.paddingTop--large {
  padding-top: var(--spacing-large);
}

.paddingTop--extra-large {
  padding-top: var(--spacing-extra-large);
}

@media screen and (max-width: 480px) {
  .paddingTop\@mobile {
    padding-top: var(--spacing);
  }
}

.paddingTop--none {
  padding-top: 0;
}

@media screen and (max-width: 480px) {
  .paddingTop--none\@mobile {
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .paddingTop--none\@xs {
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 767px) {
  .paddingTop--none\@sm {
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .paddingTop--none\@sm-min {
    padding-top: 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .paddingTop--none\@md {
    padding-top: 0;
  }
}

@media screen and (min-width: 992px) {
  .paddingTop--none\@md-min {
    padding-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .paddingTop--none\@lg {
    padding-top: 0;
  }
}
