@import '../values/spacing.css';

.paddingBottom {
  padding-bottom: var(--spacing);
}

.paddingBottom--extra-small {
  padding-bottom: var(--spacing-extra-small);
}

.paddingBottom--small {
  padding-bottom: var(--spacing-small);
}

.paddingBottom--medium {
  padding-bottom: var(--spacing-medium);
}

.paddingBottom--large {
  padding-bottom: var(--spacing-large);
}

.paddingBottom--extra-large {
  padding-bottom: var(--spacing-extra-large);
}

@media creen and (width < 480px) {
  .paddingBottom\@mobile {
    padding-bottom: var(--spacing);
  }
}

.paddingBottom--none {
  padding-bottom: 0;
}

@media creen and (width < 480px) {
  .paddingBottom--none\@mobile {
    padding-bottom: 0;
  }
}

@media screen and (width < 768px) {
  .paddingBottom--none\@xs {
    padding-bottom: 0;
  }
}

@media screen and (768px <= width < 992px) {
  .paddingBottom--none\@sm {
    padding-bottom: 0;
  }
}

@media screen and (width >= 768px) {
  .paddingBottom--none\@sm-min {
    padding-bottom: 0;
  }
}

@media screen and (992px <= width < 1200px) {
  .paddingBottom--none\@md {
    padding-bottom: 0;
  }
}

@media screen and (width >= 992px) {
  .paddingBottom--none\@md-min {
    padding-bottom: 0;
  }
}

@media screen and (width >= 1200px) {
  .paddingBottom--none\@lg {
    padding-bottom: 0;
  }
}
