@import '../values/spacing.css';
@value mq-mobile, mq-xs, mq-sm, mq-sm-min, mq-md, mq-md-min, mq-lg from "./values/mediaQueries.css";

:global {
  .paddingRight {
    padding-right: var(--spacing);
    &--extra-small {
      padding-right: var(--spacing-extra-small);
    }
    &--small {
      padding-right: var(--spacing-small);
    }
    &--medium {
      padding-right: var(--spacing-medium);
    }
    &--large {
      padding-right: var(--spacing-large);
    }
    &--extra-large {
      padding-right: var(--spacing-extra-large);
    }
    &\@mobile {
      @media mq-mobile {
        padding-right: var(--spacing);
      }
    }
    &--none {
      padding-right: 0;
      &\@mobile {
        @media mq-mobile {
          padding-right: 0;
        }
      }
      &\@xs {
        @media mq-xs {
          padding-right: 0;
        }
      }
      &\@sm {
        @media mq-sm {
          padding-right: 0;
        }
      }
      &\@sm-min {
        @media mq-sm-min {
          padding-right: 0;
        }
      }
      &\@md {
        @media mq-md {
          padding-right: 0;
        }
      }
      &\@md-min {
        @media mq-md-min {
          padding-right: 0;
        }
      }
      &\@lg {
        @media mq-lg {
          padding-right: 0;
        }
      }
    }
  }
}
