@import '../values/spacing.css';
@value mq-mobile, mq-xs, mq-sm, mq-sm-min, mq-md, mq-md-min, mq-lg from "../values/mediaQueries.css";

:global .paddingLeft {
  padding-left: var(--spacing);
}

:global .paddingLeft--extra-small {
  padding-left: var(--spacing-extra-small);
}

:global .paddingLeft--small {
  padding-left: var(--spacing-small);
}

:global .paddingLeft--medium {
  padding-left: var(--spacing-medium);
}

:global .paddingLeft--large {
  padding-left: var(--spacing-large);
}

:global .paddingLeft--extra-large {
  padding-left: var(--spacing-extra-large);
}

@media mq-mobile {
  :global .paddingLeft\@mobile {
    padding-left: var(--spacing);
  }
}

:global .paddingLeft--none {
  padding-left: 0;
}

@media mq-mobile {
  :global .paddingLeft--none\@mobile {
    padding-left: 0;
  }
}

@media mq-xs {
  :global .paddingLeft--none\@xs {
    padding-left: 0;
  }
}

@media mq-sm {
  :global .paddingLeft--none\@sm {
    padding-left: 0;
  }
}

@media mq-sm-min {
  :global .paddingLeft--none\@sm-min {
    padding-left: 0;
  }
}

@media mq-md {
  :global .paddingLeft--none\@md {
    padding-left: 0;
  }
}

@media mq-md-min {
  :global .paddingLeft--none\@md-min {
    padding-left: 0;
  }
}

@media mq-lg {
  :global .paddingLeft--none\@lg {
    padding-left: 0;
  }
}
