:global .row {
  display: flex;
  flex-wrap: wrap;
}
:global .row--justify {
  justify-content: space-between;
}
:global .row--right {
  justify-content: flex-end;
}
:global .row--centered {
  height: 100%;
  justify-content: center;
  align-items: center;
}
:global .row--v-center {
  align-items: center;
}
:global .row--v-top {
  align-items: flex-start;
}
