@value mq-mobile, mq-xs, mq-sm, mq-sm-min, mq-md, mq-md-min, mq-lg from "../values/mediaQueries.css";

:global .visible\@mobile,
:global .visible\@xs,
:global .visible\@sm,
:global .visible\@sm-min,
:global .visible\@md,
:global .visible\@md-min,
:global .visible\@lg {
  display: none !important;
}

@media mq-mobile {
  :global .visible\@mobile {
    display: block !important;
  }
}

@media mq-xs {
  :global .visible\@xs {
    display: block !important;
  }
}

@media mq-sm {
  :global .visible\@sm {
    display: block !important;
  }
}

@media mq-sm-min {
  :global .visible\@sm-min {
    display: block !important;
  }
}

@media mq-md {
  :global .visible\@md {
    display: block !important;
  }
}

@media mq-md-min {
  :global .visible\@md-min {
    display: block !important;
  }
}

@media mq-lg {
  :global .visible\@lg {
    display: block !important;
  }
}
